<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li>
              <a th:href="@{/}" href="">
                Home
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h1>Error inesperado, tente novamente mais tarde.</h1>
    </div>
  </body>
</html>