<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta charset="UTF-8" />
    <title>e-commerce</title>
  </head>
  <body>
    <h1 layout:fragment="header">Produtos - Novo</h1>
    <div layout:fragment="content"
        class="container">
      <form id="form"
          th:action="@{/admin(form)}"
          th:object="${product}"
          action="#"
          method="post">
        <div th:if="${#fields.hasErrors('*')}"
            class="alert alert-error">
          <p th:each="error : ${#fields.errors('*')}"
              th:text="${error}">
            Erros
          </p>
        </div>
        <div class="pull-right">
          <img src="img/img.jpg" alt="img" />
        </div>
        
        <label for="summary">Descrição</label>
        <input type="text"
            th:field="*{summary}"
            th:class="${#fields.hasErrors('summary')} ? 'field-error'"/>
        <label for="value">Valor</label>
        <input type="text"
            th:field="*{value}"
            th:class="${#fields.hasErrors('value')} ? 'field-error'"/>
        <label for="image">Imagem</label>
        <select th:field="*{image}" name="image-selector">
          <option th:each="img : ${T(demo.models.Product.Image).values()}" th:value="${img}" th:text="${img} + .jpg" th:selected="${img == T(demo.models.Product.Image).img}">img.jpg</option>
        </select>           
        <div class="form-actions">
          <input type="submit" value="Create"/>
        </div>
      </form>
    </div>
  </body>
</html>